{% for drink in drinks %}
<div class="column is-one-third">
  <div class="card card-custom">
    <a
      href="{% if page_type == 'mybar'%} {{ url_for('main.specific_local', favorite_id=drink.id) }} {% else %} {{ url_for('main.specific_api', favorite_id=drink.id) }} {% endif %}">
      <div class="card-image">
        <figure class="image is-square">
          <img loading="lazy"
            src="{% if page_type == 'mybar'%} {% if drink.thumbnail %}{{ url_for('main.uploaded_file', filename=drink.thumbnail) }}{% endif %} {% else %} {{drink.thumbnail}} {% endif %}"
            alt="{{ drink.name }}" />
        </figure>
      </div>
    </a>
    <div class="card-content">
      <p class="title is-5 title-custom-card">{{ drink.name }}</p>
      <div class="buttons-container">
        <button class="heart-button {{ 'is-clicked-heart' if favorites[drink.id] }}"
          hx-post="{% if page_type == 'mybar'%} {{ url_for('favorite.toggle_user_local_favorite', favorite_id=drink.id) }} {% else %} {{ url_for('favorite.toggle_user_api_favorite', favorite_id=drink.id) }} {% endif %}"
          hx-swap="none">
          <span class="icon">
            <i class="fas fa-heart"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="column is-full">
  <div class="notification is-info">
    Nessun drink trovato con i filtri selezionati.
  </div>
</div>
{% endfor %}