{% extends "layout.html" %} {% block head %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/add_recipe.css') }}"
/>

{% endblock head %} {% block content %}
<div class="title1 text-center">Crea il tuo Drink</div>

<div class="container mt-5">
  <div class="columns is-vcentered">
    <!-- Form Column -->
    <div class="column is-8">
      <form
        method="POST"
        action="{{ url_for('manage_recipes.add_custom_recipe') }}"
        id="recipe-form"
        enctype="multipart/form-data"
      >
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.name.label(class="form-label") }} {{
          form.name(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.category.label(class="form-label") }} {{
          form.category(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.alcoholic_type.label(class="form-label") }} {{
          form.alcoholic_type(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.instructions.label(class="form-label") }} {{
          form.instructions(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.thumbnail.label(class="form-label") }} {{
          form.thumbnail(class="form-control") }}
        </div>

        <div class="mb-3">
          <label class="form-label">Ingredients</label>
          <table class="table" id="ingredients-table">
            <thead>
              <tr>
                <th>Ingredienti</th>
                <th>Quantità</th>
              </tr>
            </thead>
            <tbody>
              {% for ingredient_form in form.ingredients %}
              <tr>
                <td>
                  <div class="select">{{ ingredient_form.ingredient }}</div>
                </td>
                <td>{{ ingredient_form.quantity(class="input") }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <button type="submit" class="button btn-primary">Add Recipe</button>
      </form>
    </div>

    <!-- GIF Column -->
    <div class="column is-4 gif-container has-text-centered">
      <figure class="image is-4by4">
        <img
          src="{{ url_for('static', filename='images/cocktails.gif') }}"
          alt="Drink GIF"
        />
      </figure>
    </div>
  </div>
  <!-- end columns -->
</div>
<!-- end container -->

<script src="{{ url_for('static', filename='js/add_recipe.js') }}"></script>
{% endblock %}
