{% extends "layout.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/catalogo.css')}}"
/>
{% endblock head%} {% block content %}

<h1 class="title title-custom">
  {% if page_type == "mybar" %}My Bar{% else %}Catalogo{% endif %}
</h1>

<!--Barra di ricerca-->
<div class="field search-bar p-3">
  <p class="control has-icons-left has-icons-right is-flex">
    <input
      id="main-search-bar"
      class="input is-expanded"
      type="text"
      placeholder="cerca qui"
      name="name"
      hx-get="{% if page_type == 'mybar'%}{{ url_for('main.filter_mybar') }}{% else %}{{ url_for('main.filter_catalog') }}{% endif %}"
      hx-trigger="keyup changed delay:500ms, search"
      hx-target="#drinks-container"
      hx-include="#filter-form"
    />

    <!-- Icona a sinistra -->
    <span class="icon is-left">
      <i class="fas fa-search"></i>
    </span>

    <!-- Icona a destra -->
    <span class="field is-grouped is-grouped-right">
      <button class="button is-right" id="toggleFilters">
        <span class="icon">
          <i class="fas fa-sliders-h"></i>
        </span>
      </button>
    </span>
  </p>
</div>

<!--Bottone per aggiungere un drink-->
{% if page_type == "mybar" %}
<div class="is-flex is-justify-content-center">
  <a
    href="{{ url_for('manage_recipes.add_custom_recipe') }}"
    class="button is-primary"
  >
    Aggiungi un drink
  </a>
</div>
{% endif %}

<div class="overlay"></div>

<!-- Pannello dei filtri -->
<div id="filterPanel" class="container">
  <div class="container">
    <h2 class="title is-4 has-text-black">Filtri :</h2>
    <button id="closeFilters" class="delete is-pulled-right"></button>
    {% include "partials/filter_form.html" %}
    <div id="result"></div>
  </div>
</div>

<!--sezione card-->
<section class="section">
  <div class="container">
    <div id="drinks-container" class="columns is-multiline is-centered">
      {% include "partials/drink_cards.html" %}
    </div>
  </div>
</section>

<!-- Bottone dado -->
<button
  class="button is-primary is-large fixed-button"
  id="diceButton"
  hx-target="#modal-content"
  hx-get="{% if page_type == 'catalogo' %}{{ url_for('main.random_catalog') }}{% else %}{{ url_for('main.random_mybar') }}{% endif %}"
  hx-include="#filter-form, #main-search-bar"
>
  <span class="icon is-large">
    <i class="fas fa-dice"></i>
  </span>
</button>

<!--modale card casual drink-->
<div class="modal" id="modal">
  <div class="modal-background">
    <button id="bottonemodale" class="delete is-pulled-right"></button>
  </div>
  <div class="modal-content" id="modal-content"></div>
</div>
<script src="{{ url_for('static', filename='js/catalogo.js') }}"></script>
{% endblock content %}
