{% extends "layout.html" %} {% block head %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/catalogo.css')}}"
/>
{% endblock head%} {% block content %}

<h1 class="title title-custom">Catalogo</h1>

<!--Barra di ricerca-->
<div class="field search-bar p-3">
  <p class="control has-icons-left has-icons-right is-flex">
    <input
      id="main-search-bar"
      class="input is-expanded"
      type="text"
      placeholder="cerca qui"
      name="name"
      hx-get="{% if page_type == 'mybar'%}{{ url_for('main.filter_mybar') }}{% else %}{{ url_for('main.filter_catalog') }}{% endif %}"
      hx-trigger="keyup changed delay:500ms, search"
      hx-target="#drinks-container"
      hx-include="#filter-form"
    />

    <!-- Icona a sinistra -->
    <span class="icon is-left">
      <i class="fas fa-search"></i>
    </span>

    <!-- Icona a destra -->
    <span class="field is-grouped is-grouped-right">
      <button class="button is-right" id="toggleFilters">
        <span class="icon">
          <i class="fas fa-sliders-h"></i>
        </span>
      </button>
    </span>
  </p>
</div>

<!--Bottone per aggiungere un drink-->
{% if page_type == "mybar" %}
<div class="is-flex is-justify-content-center">
  <a
    href="{{ url_for('manage_recipes.add_custom_recipe') }}"
    class="button is-primary"
  >
    Aggiungi un drink
  </a>
</div>
{% endif %}

<div class="overlay"></div>

<!-- Pannello dei filtri -->
<div id="filterPanel" class="container">
  <div class="container">
    <h2 class="title is-4 has-text-black">Filtri :</h2>
    <button id="closeFilters" class="delete is-pulled-right"></button>

    <form id="filter-form">
      <!-- Search Bar -->
      <div class="field search-bar">
        <div class="control has-icons-left has-icons-right is-flex">
          <input
            id="search-bar-input"
            class="input is-expanded"
            type="text"
            placeholder="Cerca ingredienti..."
            name="search"
            hx-get="{{ url_for('main.filter_ingredients') }}"
            hx-trigger="input changed delay:300ms"
            hx-target="#ingredient-list"
            hx-vals="js:{
              selected: Array.from(document.querySelectorAll('input[name=\'ingredient[]\']:checked')).map(cb => cb.value),
              page_type: '{{ page_type }}'
            }"
          />
          <span class="icon is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>

      <!-- Alcoholic Type Selection -->
      <div class="field">
        <label class="label">Tipo di Alcol</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select
              name="type"
              hx-trigger="change"
              hx-include="#filter-form, #main-search-bar"
              hx-get="{% if page_type == 'mybar'%}{{ url_for('main.filter_mybar') }}{% else %}{{ url_for('main.filter_catalog') }}{% endif %}"
              hx-target="#drinks-container"
            >
              <option value="">Tutti</option>
              {% for value, label in alcoholic_types %}
              <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Category Selection -->
      <div class="field">
        <label class="label">Categoria</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select
              name="category"
              hx-trigger="change"
              hx-include="#filter-form, #main-search-bar"
              hx-get="{% if page_type == 'mybar'%}{{ url_for('main.filter_mybar') }}{% else %}{{ url_for('main.filter_catalog') }}{% endif %}"
              hx-target="#drinks-container"
            >
              <option value="">Tutte</option>
              {% for value, label in categories %}
              <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!-- Ingredient Checkboxes (Dynamically Updated) -->
      <div id="ingredient-list" class="grid">
        {% for i in ingredients %}
        <div class="cell">
          <label class="checkbox">
            <input
              type="checkbox"
              name="ingredient[]"
              value="{{ i.name }}"
              hx-trigger="change"
              hx-include="#filter-form, #main-search-bar"
              hx-get="{% if page_type == 'mybar'%}{{ url_for('main.filter_mybar') }}{% else %}{{ url_for('main.filter_catalog') }}{% endif %}"
              hx-target="#drinks-container"
            />
            {{ i.name }}
          </label>
        </div>
        {% endfor %}
      </div>

      <!-- Buttons -->
      <button
        class="button is-danger is-light mb-5"
        hx-get="{{ url_for('main.filter_ingredients') }}"
        hx-target="#ingredient-list"
        hx-vals='js:{search: "", selected: []}'
        hx-trigger="click"
        hx-on::after-request="if(event.detail.successful) {
          document.getElementById('search-bar-input').value = '';
          document.querySelector('select[name=\'type\']').value = '';
          document.querySelector('select[name=\'category\']').value = '';
          const event = new Event('change');
          document.querySelector('select[name=\'type\']').dispatchEvent(event);
        }"
      >
        Ripristina Filtri
      </button>
    </form>

    <div id="result"></div>
  </div>
</div>

<!--sezione card-->
<section class="section">
  <div class="container">
    <div id="drinks-container" class="columns is-multiline is-centered">
      {% for drink in drinks %}
      <div class="column is-one-third">
        <div class="card card-custom">
          <div class="card-image">
            <figure class="image is-square">
              <img
                loading="lazy"
                src="{% if page_type == 'mybar'%} {% if drink.thumbnail %}{{ url_for('main.uploaded_file', filename=drink.thumbnail) }}{% endif %} {% else %} {{drink.thumbnail}} {% endif %}"
                alt="{{ drink.name }}"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-5 title-custom-card">{{ drink.name }}</p>
            <div class="buttons-container">
              <button class="pencil-button">
                <span class="icon">
                  <i class="fas fa-pencil-alt"></i>
                </span>
              </button>
              <button
                class="heart-button {{ 'is-clicked-heart' if favorites[drink.id] }}"
                hx-post="{% if page_type == 'mybar'%} {{ url_for('favorite.toggle_user_local_favorite', favorite_id=drink.id) }} {% else %} {{ url_for('favorite.toggle_user_api_favorite', favorite_id=drink.id) }} {% endif %}"
                hx-swap="none"
              >
                <span class="icon">
                  <i class="fas fa-heart"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Bottone dado -->
<button class="button is-primary is-large fixed-button" id="diceButton">
  <span class="icon is-large">
    <i class="fas fa-dice"></i>
  </span>
</button>

<!--modale card casual drink-->
<div class="modal" id="modal">
  <div class="modal-background">
    <button id="bottonemodale" class="delete is-pulled-right"></button>
  </div>
  <div class="card card-custom-modal">
    <div class="card-image">
      <figure class="image is-square">
        <img
          src="https://via.placeholder.com/150x150?text=Negroni"
          alt="Negroni"
        />
      </figure>
    </div>
    <div class="card-content">
      <hr />
      <p class="title is-5 title-custom-card">NEGRONI</p>
      <p href="#" class="link">
        Scopri il drink<span class="icon is-small ml-1">
          <i class="fas fa-arrow-right"></i>
        </span>
      </p>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/catalogo.js') }}"></script>
{% endblock content %}
