{% extends "layout.html" %} {% block head %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/specific.css') }}"
/>

<!-- prettier-ignore -->
{% endblock %}
{% block content %}

<section class="section">
  <div class="container">
    <div id="result">
      <h1
        class="title has-text-centered custom-title"
        style="margin-bottom: 120px"
      >
        {{ drink.name }}
      </h1>

      <!-- Added category and alcohol information -->
      <div class="columns is-centered" style="margin-bottom: 30px">
        <div class="column is-narrow">
          <div class="tags are-medium">
            <span class="tag is-info">{{ drink.get_category_display() }}</span>
            <span
              class="tag {% if drink.alcoholic_type == 'Alcoholic' %}is-danger{% elif drink.alcoholic == 'Non alcoholic' %}is-success{% else %}is-warning{% endif %}"
            >
              {{ drink.get_alcoholic_type_display() }}
            </span>
          </div>
        </div>
      </div>

      <div class="columns is-vcentered" style="margin-bottom: 90px">
        <div class="column is-1"></div>
        <div class="column is-5">
          <img
            src="{{ drink.get_thumbnail_url()|default( url_for('static', filename='images/drink_placeholder.jpg'), true ) }}"
            alt="Image of {{ drink.name }}"
            class="image rounded-image"
          />
        </div>
        <div class="column is-narrow"></div>
        <div class="column is-offset-1">
          <h3 class="title is-2">Ingredienti</h3>
          <ul class="content is-size-4">
            {% if ingredients %} {% for i in ingredients %}
            <li>
              {{ i.name }} {% if i.measure %} | {{ i.measure }} {% endif %}
            </li>
            {% endfor%} {% else %}
            <p>Questo drink non ha ingredienti.</p>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="instructions-section">
        <h3 class="title is-2 has-text-centered">Ricetta</h3>
        <p class="has-text-centered is-size-5">
          {{ drink.instructions|default('Questo drink non ha una ricetta.',
          true) }}
        </p>
      </div>
    </div>

    {% if is_logged %}
    <div class="buttons-container">
      <div class="buttons">
        <button
          class="circular-button heart-button {{ 'is-clicked-heart is-clicked-heart-bg' if is_favorite }}"
          hx-post="{% if drink.is_local() %} {{ url_for('favorite.toggle_user_local_favorite', favorite_id=drink.id) }} {% else %} {{ url_for('favorite.toggle_user_api_favorite', favorite_id=drink.id) }} {% endif %}"
          hx-swap="none"
        >
          <span class="icon">
            <i class="fas fa-heart"></i>
          </span>
        </button>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<script>
  document.body.addEventListener("click", function (e) {
    if (e.target.closest(".heart-button")) {
      e.target.closest(".heart-button").classList.toggle("is-clicked-heart-bg");
    }
  });
</script>
{% endblock content %}
