<!-- prettier-ignore -->
{% extends "layout.html" %}
{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/catalogo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">

{% endblock head%}

{% block content %}
<div class="container">

  <div class="image-container">
    <img src="{{ url_for('static', filename='images/drink1.jpg') }}" alt="Image 1" class="scroll-image">
    <img src="{{ url_for('static', filename='images/drink2.jpg') }}" alt="Image 2" class="scroll-image">
    <img src="{{ url_for('static', filename='images/drink3.jpg') }}" alt="Image 3" class="scroll-image">
  </div>

  <h1 class="title title-custom">Drink preferiti</h1>

  <section class="section">
    <div class="columns is-multiline is-centered">
      {% if fav_drinks %}
      {% with drinks=fav_drinks, col_class="is-one-quarter" %}
      {% include "partials/drink_cards.html" %}
      {% endwith %}
      {% endif %}
  </section>

  <h1 class="title title-custom">Parte di catalogo</h1>

  <section class="section">
    <div class="columns is-multiline is-centered">
      {% if catalog_drinks %}
      {% with drinks=catalog_drinks, col_class="is-one-quarter" %}
      {% include "partials/drink_cards.html" %}
      {% endwith %}
      {% endif %}
    </div>
  </section>

  <section class="section">
    <div class="has-text-centered">
      <a class="button esplora-button is-medium" href="{{ url_for('main.catalogo') }}">Esplora</a>
    </div>
  </section>
  <br><br><br>

  <h1 class="title title-custom1">Cronologia</h1>

  <section class="section">
    <div class="columns is-multiline is-centered">
      {% if history_drinks %}
      {% with drinks=fav_drinks, col_class="is-one-quarter" %}
      {% include "partials/drink_cards.html" %}
      {% endwith %}
      {% else %}
      <div class="notification is-info">
        Non hai ancora visualizzato alcun cocktail. Esplora il catalogo!
      </div>
      {% endif %}
  </section>
  {% endblock content %}