<!DOCTYPE html>
<html lang="it" hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'>
  <head>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/resultlogo.png') }}"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Applicazione." />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bulma.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- start head block -->
    {% block head %}{% endblock head %}
    <!-- end head block -->

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Drink a Drink</title>
    {% endif %}
  </head>

  <body class="has-navbar-fixed-top">
    <nav
      class="navbar is-white is-fixed-top"
      role="navigation"
      aria-label="menu principale"
    >
      <div class="navbar-brand">
        <a
          class="navbar-item"
          href="{{ url_for('main.home') }}"
          aria-label="Vai alla pagina principale"
        >
          <img
            src="{{ url_for('static', filename='images/resultlogo.png') }}"
            alt="Logo dell'applicazione"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          aria-controls="mainNavbarMenu"
          data-target="mainNavbarMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="mainNavbarMenu">
        <div class="navbar-start">
          <a
            class="navbar-item"
            href="{{ url_for('main.home') }}"
            aria-label="Vai alla Home"
            >Home</a
          >
          <a
            class="navbar-item"
            href="{{ url_for('main.catalogo') }}"
            aria-label="Sfoglia il catalogo"
            >Catalogo</a
          >
          <a
            class="navbar-item"
            href="{{ url_for('main.mybar') }}"
            aria-label="Vai al tuo bar"
            >MyBar</a
          >
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if current_user.is_authenticated %}
              <a
                class="button is-light"
                href="{{ url_for('login.logout_route')}}"
                aria-label="Esci dall'account"
              >
                <span class="icon" aria-hidden="true">
                  <img
                    src="{{ url_for('static', filename='images/icona_account.png') }}"
                    alt="Icona account"
                  />
                </span>
                <span>Logout</span>
              </a>
              {% else %}
              <a
                class="button is-light"
                href="{{ url_for('login.login_route')}}"
                aria-label="Accedi all'account"
              >
                <span class="icon" aria-hidden="true">
                  <img
                    src="{{ url_for('static', filename='images/icona_account.png') }}"
                    alt="Icona account"
                  />
                </span>
                <span>Accedi</span>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Start page content -->
    <main id="content" class="px-2" style="padding-top: 116px">
      <!-- prettier-ignore -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <!-- Start flashes section -->
      <div class="container mt-3 mb-4" role="alert" aria-live="polite">
        {% for category, message in messages %}
        <div class="notification is-{{ category }} is-dismissable">
          {{ message }}
          <button class="delete" aria-label="Chiudi notifica"></button>
        </div>
        {% endfor %}
      </div>
      <!-- End flashes section -->
      <!-- prettier-ignore -->
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock content %}
    </main>
    <!-- End page content -->

    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
