<!doctype html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Applicazione.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        @font-face {
          font-family: 'LostInSouth';
          src: url('fonts/LostInSouth.ttf') format('truetype');
        }
    
        .navbar-text {
          font-family: 'LostInSouth', sans-serif; /* Usa il font */
          font-size: 2rem; /* Personalizza la dimensione */
          font-weight: bold; /* Personalizza il peso */
        }

        
      </style>

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Applicazione</title>
    {% endif %}
</head>

<body>

        <!-- Dropdown Menu -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <img src="{{ url_for('static', filename='images/resultlogo.png') }}" alt="Logo" width="70" height="80">
            </a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="#">HOME</a>
                <a class="navbar-item" href="#">CATALOGO</a>
                <a class="navbar-item" href="#">MY BAR</a>
                <a class="navbar-item" href="#">PREFERITI</a>
            </div>

            <!-- This div will center your text at the center of navbar -->
            <div class="navbar-item has-text-centered" style="margin-left: 38%;>
                <span class="navbar-text">
                DRINK A DRINK
                </span>
            </div>
        
        
        

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="">
                            <strong>Login</strong>
                        </a>
                        <a class="button is-light" href="">
                            Register
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Burger Menu for Mobile -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        
</nav>
    {% if get_flashed_messages() %}
    <!-- Start flashes section -->
    <div class="container mt-3 mb-4">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="notification is-{{ category }} is-dismissable">
            {{ message }}
            <button class="delete"></button>
        </div>                                                         
        {% endfor %}
    </div>
    <!-- End flashes section -->
{% endif %}

    <!-- Start page content -->
    {% block content %}{% endblock content %}
    <!-- End page content -->

    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>