<!DOCTYPE html>
<html lang="it" hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Applicazione." />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bulma.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <!-- start head block -->
    {% block head %}{% endblock head %}
    <!-- end head block -->

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Applicazione</title>
    {% endif %}
  </head>

  <body>
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('main.home') }}">
          <img
            src="{{ url_for('static', filename='images/resultlogo.png') }}"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="mainNavbarMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="mainNavbarMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('main.home') }}">Home</a>
          <a class="navbar-item" href="{{ url_for('main.catalogo') }}"
            >Catalogo</a
          >
          <!-- TODO: fix this link when the page is merged -->
          <a class="navbar-item" href="#">Mybar</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light">
                <span class="icon">
                  <img
                    src="{{ url_for('static', filename='images/icona_account.png') }}"
                  />
                </span>
                <span>Accedi</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- prettier-ignore -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <!-- Start flashes section -->
    <div class="container mt-3 mb-4">
      {% for category, message in messages %}
      <div class="notification is-{{ category }} is-dismissable">
        {{ message }}
        <button class="delete"></button>
      </div>
      {% endfor %}
    </div>
    <!-- End flashes section -->
    <!-- prettier-ignore -->
    {% endif %}
    {% endwith %}

    <!-- Start page content -->
    {% block content %}{% endblock content %}
    <!-- End page content -->

    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
