body {
  font-family: "Sensation", sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
}

/* navbar */

.navbar-brand img {
  max-height: 100px;
}

/* Mobile responsive navbar logo */
@media screen and (max-width: 768px) {
  .navbar-brand img {
    max-height: 50px;
  }
}

.navbar-start {
  gap: 20px;
}

nav {
  background-color: #f7f7f7 !important;
}

a.navbar-item:hover {
  background-color: #eee;
}

nav a.button:hover {
  background-color: #eee;
}

/* end navbar */

.button.is-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-clicked-heart {
  color: #ff3860;
}

.is-clicked-trash {
  color: red;
}
