/* navbar */

.navbar-brand img {
  max-height: 100px;
}

.navbar-start {
  gap: 20px;
}

/* end navbar */

.button.is-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
